<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/bklogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BudgetKitaApp"
        tools:targetApi="31">
        <activity
            android:name=".adapter.viewDetail.debtDetail"
            android:exported="false" />
        <activity
            android:name=".debt.addDebt.AddDebt"
            android:exported="false" />
        <activity
            android:name=".transaction.editTransaction.EditTransaction"
            android:exported="false" />
        <activity
            android:name=".map.editLocation.EditLocation"
            android:exported="false" />
        <activity
            android:name=".transaction.viewTransaction.TransactionDetail"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBe1FEQHAJI4bKaQRO9YhlHRIIK5pQULpQ" />

        <activity
            android:name=".map.viewLocation.viewLocation"
            android:exported="false" />
        <activity
            android:name=".map.viewLocation.MapDetailFragment"
            android:exported="true" />
        <activity
            android:name=".map.saveLocation.AddLocation"
            android:exported="false" />
        <activity
            android:name=".map.listLocation.map"
            android:exported="false" />
        <activity
            android:name=".transaction.expense.ExpenseCategory"
            android:exported="false" />
        <activity
            android:name=".transaction.expense.ExpenseFragment"
            android:exported="false" />
        <activity
            android:name=".transaction.income.IncomeCategory"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".forgotPassword.ForgotPassword"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".other.UserProfile"
            android:exported="false" />
        <activity
            android:name=".login.MainActivity"
            android:exported="false" />
        <activity
            android:name=".register.Register"
            android:exported="false" />
        <activity
            android:name=".login.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>